version: 2
updates:
  - package-ecosystem: composer
    directory: "/app"
    schedule:
      interval: daily
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major", "version-update:semver-patch"]
