body {
  font-family: Sans-Serif;
  text-align: center;
}

textarea {
  display: block;
  height: 20em;
  margin: 0 0 1em;
  width: 100%;
}

input[type="checkbox"],
input[type="radio"] {
  opacity: 0;
  position: absolute;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline-block;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
  background-color: #fff;
  border: 0.15em solid #0074d9;
  border-radius: 0.2em;
  content: "";
  display: inline-block;
  height: 1em;
  margin-right: 0.3em;
  vertical-align: -0.2em;
  width: 1em;
}

input[type="radio"] + label:before {
  border-radius: 50%;
}

input[type="radio"]:checked + label:before,
input[type="checkbox"]:checked + label:before {
  background-color: #0074d9;
  box-shadow: inset 0 0 0 0.15em #fff;
}

input[type="radio"]:focus + label:before,
input[type="checkbox"]:focus + label:before {
  outline: 0;
}

.btn {
  background-color: #16214d;
  border: 0;
  color: #fff;
  margin-bottom: 1em;
}

.btn:hover {
  background-color: #44c7f4;
}

.btn:focus {
  outline: none !important;
}

.btn:disabled {
  background-color: #333;
  color: #666;
}

h1,
h2,
h3 {
  font-weight: 100;
}

#logo img {
  width: 150px;
}

h2 {
  margin: 1em 0;
}

h2 img {
  display: inline-block;
  height: 8rem;
  vertical-align: middle;
  width: 8rem;
}

h2 > span {
  vertical-align: middle;
}

label {
  font-weight: 300;
}

.answer {
  margin: auto;
  padding-left: 10%;
  text-align: left;
  width: 70%;
}

.login-page .login-box {
  padding: 100px 0;
}
